.line { 
    background-color: #FFF;
    background-image:
    linear-gradient( to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, .9) 100% ); 
    cursor: pointer;
    transition: background-color .8s ease-in-out; 

} 

.line.hovered { 
    background-color: #00cf77; 
    background-image: linear-gradient( to left, rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, .9) 100% ); 
}